extends ../layouts/main-layout.pug

block content
  main.centered
    h1 #{ product.title }
    hr
    div
      img(
        alt = product.title
        src = product.imageUrl
      )
    h2 #{ product.price }
    p #{ product.description }
    include ../layouts/add-to-cart.pug
